.containerExperience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headExp {
    margin-bottom: 20px;
}

.contents {
    width: 80%;
}

.icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.iconSkills {
    width: auto;
    height: 80px;
    filter: grayscale(98%);
    opacity: 0;
    transition: filter 0.3s ease;
}

.iconSkills.animate {
    animation: appear 1s ease-in-out forwards;
}
.techno {
    /* background-color: aqua; */
    /* width: 50%; */
}

.entreprise {
    margin-block: 40px;
}
@keyframes appear {
    0% {
        filter: grayscale(98%);
        opacity: 0;
    }

    50% {
        filter: none;
        opacity: 1;
    }

    100% {
        filter: grayscale(98%);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .icons {
        grid-template-columns: repeat(3, 1fr);
    }
}