/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    /* Assurez-vous que le body prend 100% de l'écran */
    margin: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Hauteur égale à celle de l'écran */
    display: flex;
    overflow: hidden;
        background-color: #632238;
}

.banner-left,
.banner-right {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-left {
    width: 95%;
    height: 100%;
    background: linear-gradient(170deg, #5b9490, #051a45);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
}
.banner-right {
    background: url('/public/images/profil.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
}



.banner-right h2,
.banner-right button {
    position: relative;
    z-index: 2;
}

button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #00b894;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: #00b894;
    color: #fff;
}