/* styles.css */

/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Style du header */
header h1 {
    margin-bottom: 5px;
}

/* Style du footer */
footer p {
    margin: 5px 0;
}

/* Style des sections */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Style des liens */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}